@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Olá, tudo bem?</h1>
    <h2 class="displat-4">Seja bem vindo ao painel de atendimentos veterinários.</h2>
    <p>Um projeto ASP.NET Core MVC desenvolvido por <a href="https://www.linkedin.com/in/michel-claro/">Michel Claro</a>.</p>
</div>
