@model Domain.Entities.Veterinary
@{
    ViewData["Title"] = "Editar";
}

<div>
  <h2 class="display-4">Editar</h2>
</div>
      <form asp-controller="Veterinary" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id"></input>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" asp-for="Name" class="form-control" id="name">
        </div>
        <br/>
        <div class="form-group col-md-6">
          <button class="btn btn-success" role="button" type="submit"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
          <a class="btn btn-danger" asp-action="Index" asp-controller="Veterinary" role="button"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
        </div>
      </form>